* {
  margin: 0;
  list-style-type: none;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
.bx-heart {
  cursor: pointer;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
html {
  scroll-behavior: smooth;
}
/* .display {
  display: none;
} */
